* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
  background: linear-gradient(#91b2c7, #9999cc);
}
h1 {
  color: rgb(95, 10, 95);
  text-align: center;
}
button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background: rgb(95, 10, 95);
  color: rgb(241, 240, 239);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 5px;
}
